# Frontend
node_modules
.vite
.vite/
build
dist
dist-ssr
.DS_Store
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
routeTree.gen.ts

# Backend
venv
__pycache__
.coverage
.pytest_cache

# Deployment
.env
certs
